.headerSearchItem {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.searchIconWrapper {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-bottom: 16px;
}

.searchIcon {
  color: #aaa;
}

.headerSearchInput {
  width: calc(100% - 42px);
  padding: 10px 10px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
